[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"

[packages]
Django = "~=3.0"
django-extensions = "*"
django-environ = "~=0.4"
djangorestframework = "~=3.9"
django-staff-sso-client = "~=2.2.0"
django-oauth-toolkit = "*"
psycopg2 = "~=2.8"
sentry-sdk = "*"
django-allauth = "*"
python-jwt = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
