[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"

[packages]
Django = "~=3.0"
django-extensions = "*"
django-environ = "~=0.4"
djangorestframework = "~=3.9"
django-oauth-toolkit = "*"
psycopg2 = "~=2.8"

[requires]
python_version = "3.7"
