{% block content %}
<h1>Internal User Home</h1>

{% if request.user.is_authenticated %}
    <h3>Local session details</h3>
    <details>
        <summary><pre>{{ session_user_details }}</pre></summary>
        <p>JWT: {{ request.session.jwt }}</p>
    </details>
    <h3>Remote API response:</h3>
    <form method="post">
        {% csrf_token %}
        {% if api_response.status_code == 200 %}
            {{ api_response.json }}
            <button name="action" type="submit" value="delete">Delete</button>
        {% elif api_response.status_code == 401 %}
            You don't have a user on remote server <button name="action" type="submit" value="create">Create one now</button>
        {% else %}
            <p>{{ api_response.status_code }} {{ api_response }}</p>
        {% endif %}
    </form>

{% else %}
    You're not logged in locally. <a href="{% url 'auth:login' %}">Click here to login</a>
{% endif %}

{% endblock %}
